*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: #002244
}

.calculator{
    width: 400px;
    height: 500px;
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   

.calcOutput{
    position: relative;
    width: 350px;
    height: 90px;
    background: #cecece;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    margin: 25px;
    color: black;
    font-size: 60px;
    overflow-x: auto; /* Add a horizontal scrollbar if necessary */
    overflow-y: hidden; /* Hide the vertical scrollbar */
    white-space: nowrap; /* Keep the text on the same line */
    padding: 11px;
}


.calcButtons16 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    padding: 10px;
}

.calcButtons16 button {
    width: 65px;
    height: 57px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    background: #000000;
    transition: all 0.3s ease;
}

.calcButtons16 #decimal {
    grid-column: 3;
    grid-row: 5;
}

.calcButtons16 #num0 {
    grid-column: 1 / span 2;
    grid-row: 5;
    width: 140px;
}

.calcButtons16 #equals {
    grid-column: 4;
    grid-row: 4 / span 2;
    height: 120px;
}

button {
    transition: all 0.5s ease; 
}

button:hover {
    background-color: white; 
    color: black; 
    box-shadow: 0 0 10px red, 0 0 15px orange, 0 0 20px yellow, 0 0 25px green, 0 0 30px blue, 0 0 35px indigo, 0 0 40px violet; /* Create a glowing rainbow outline */
}
/* Media Queries */
@media screen and (max-width: 768px) {
    .calculator {
        width: 100%;
        height: auto;
        max-width: 400px;
        margin: 0 auto;
        position: static;
        transform: none;
    }
    
    .calcOutput {
        width: 100%;
        margin: 15px;
    }
    
    .calcButtons16 {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        padding: 5px;
    }
    
    .calcButtons16 button {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }
    
    .calcButtons16 #num0 {
        width: 100%;
        grid-column: 1 / span 3;
    }
    
    .calcButtons16 #equals {
        grid-column: 3;
        grid-row: 4 / span 2;
        height: 100px;
    }
}
