body {
  background: #1B1B25;
  color: #fff;
  font-family:'Courier New', Courier, monospace;
  font-weight: normal;
}

.title {
  margin-top: 100px;
  letter-spacing: .1rem;
}

.title h4 {
  letter-spacing: normal;
}

hr {
  width: 65%;
}

a {
  color: aquamarine;

  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}

.whole, .wholeSkills {
  padding: 10px;
  margin-left: 189px;
  margin-right: 189px;
}

.list, .skills {
  margin-top: 30px;
}

.list ul, .skills ul {
  margin-bottom: 40px;
}

.list h4, .skills h4 {
  font-weight: bold;
}

