*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #d34b8a, #d8fff9);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
    position: relative;
    height: 5rem;

    .search{
        background-color: transparent;
        border: 0;
        transition: width 0.5s ease-in-out;
        /* own design */
        height: 3rem;
        width: 3rem;
        padding: .5rem;
        font-size: 1rem;
        border-radius: .2rem;
    }

    button{
        background-color: white;
        border: 0;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        height: 3rem;
        width: 3rem;
        transition: 0.8s ease-in-out;
        outline: none;
        border-radius: .2rem;

        &.active{
            margin-left: 0.5rem;
            transition: 0.8s ease-in-out;
        }
    }

    .fa-times{
        opacity: 0;
        position: absolute;
        transition: 0.8s ease-in-out;
        left: 50%;
        top: 25%;
        transform: translate(-50%);

        &.active{
            opacity: 1;
            transition: 0.8s ease-in-out;
        }
    }

    .fa-search{
        opacity: 1;
        transition: 0.8s ease-in-out;

        &.active{
            opacity: 0;
            transition: 0.8s ease-in-out;
        }
    }

    &.active{
        .search{
            width: 20rem;
            transition: 0.8s ease-in-out;
        }
        button{
            transform: translate(20rem);
            background-color: #d31c62;
            transition: 0.8s ease-in-out;
        }
    }
}


        
